body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

title {
    font-family: "Lato", sans-serif;
    color: #747704;
    font-weight: 300;
    font-size: 60px;
}
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    font-size: 20px;
}

label + label {
    margin-top: 20px;
}

textarea {
    width: 500px;
    height: 400px;
    font-size: 17px;
    font-family: monospace;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

input[type=submit] {
    font-size: 24px;
}

.error {
    color: red;
}

.main_title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post_heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post_title {
    font-size: 24px;
    font-weight: bold;
}

.post_author {
    position: absolute;
    right: 200px;
    bottom: 0;
    color: #718f99;
}

.post_date {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #999;
}

.post_content {
    margin-top: 5px;
}

.label {
    text-align: right
}

.login_area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login_link {
    color: gray;
    text-decoration: none;
}

.login_link:visited {
    color: gray;
}

.login_link:hover {
    text-decoration: underline;
}