<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/static/main.css">
  <meta charset="UTF-8">
  <title>Musketeer Blog</title>
</head>

<body>
  <a href="/blog" class="main-title">
    Musketeer Blog
  </a>

  <div class="login-area">
    {% if user %}
      <a href="/blog/newpost">New Post</a>
      <a href="/logout">Log Out</a>
    {% else %}
      <a class="login-link" href="/login">Log In</a>
      |
      <a class="login-link" href="/signup">Sign Up</a>
    {% endif %}
  </div>

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>

