<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/main.css">
        <title>Musketeer Blog</title>
    </head>

    <body>
        <a href="/blog" class="main_title">
            Musketeer Blog
        </a>

        <header>
            {% if user %}
            <a href="/blog/newpost">New Post</a>
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
            {% endif %}
        </header>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

